*.c
*.h
*.o
*.stamp
.deps

Makefile
Makefile.in
Makefile.in.in

aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1

README
org.washedup.Hum.service

po/POTFILES
po/stamp-it

src/hum-gtk
src/hum-player

