[Desktop Entry]
Name=Hum Music Player
Name[af]=Hum-musiekspeler
Name[ar]=مشغل الموسيقى أنغام
Name[as]=Hum সঙ্গীত প্লেয়াৰ
Name[be@latin]=Muzyčny player Hum
Name[bg]=Слушане на музика (Hum)
Name[ca]=Reproductor de música Hum
Name[cs]=Přehrávač hudby Hum
Name[da]=Hum musikafspiller
Name[de]=Hum Musik-Wiedergabeprogramm
Name[dz]=རི་ཐམ་བོཀསི་སྙན་ཆ་གཏང་འཕྲུལ་
Name[el]=Αναπαραγωγή μουσικής
Name[en_CA]=Hum Music Player
Name[en_GB]=Hum Music Player
Name[es]=Reproductor de música Hum
Name[et]=Hum muusikamängija
Name[eu]=Hum musika erreproduzitzailea
Name[fi]=Rytmilaatikko-musiikkisoitin
Name[fr]=Lecteur de musique Hum
Name[ga]=Seinnteoir Ceoil Hum
Name[gl]=Reprodutor de música Hum
Name[gu]=Hum Music Player
Name[he]=נגן המוזיקה Hum
Name[hu]=Hum zenelejátszó
Name[it]=Hum - Riproduttore musicale
Name[ja]=Hum 楽曲プレイヤー
Name[kn]=Hum ಸಂಗೀತ ಪ್ಲೇಯರ್
Name[ko]=리듬박스 음악 연주기
Name[lt]=Muzikos grotuvas „Hum“
Name[lv]=Hum mūzika atskaņotājs
Name[mk]=Hum - Пуштач на музика
Name[mr]=Hum संगीत वादक
Name[nb]=Hum musikkavspiller
Name[ne]=रिदमबक्स सङ्गीत प्लेयर
Name[nl]=Hum muziekspeler
Name[oc]=Legidor de musica Hum
Name[or]=Hum ସଙ୍ଗୀତ ବାଦକ
Name[pa]=ਰੀਥਮਬਾਕਸ ਸੰਗੀਤ ਪਲੇਅਰ
Name[pl]=Odtwarzacz muzyki Hum
Name[ps]=رېدمبکس ټنګټکور غږونکی
Name[pt]=Reprodutor de Música Hum
Name[pt_BR]=Reprodutor de músicas Hum
Name[ru]=Музыкальный проигрыватель Hum
Name[sk]=Prehrávač hudby Hum
Name[sr]=Ритам машина музички програм
Name[sr@latin]=Ritam mašina muzički program
Name[sv]=Musikspelaren Hum
Name[ta]=ரிதம்பாக்ஸ் இசை இயக்கி
Name[th]=โปรแกรมเล่นเพลง Hum
Name[uk]=Програвач музики Hum
Name[vi]=Bộ phát nhạc Hum
Name[zh_CN]=Hum 音乐播放器
Name[zh_HK]=Hum 音樂管理程式
Name[zh_TW]=Hum 音樂管理程式
GenericName=Music Player
GenericName[af]=Musiekspeler
GenericName[ar]=مشغل الموسيقى
GenericName[as]=সঙ্গীত প্লেয়াৰ
GenericName[az]=Musiqi Çalğıcısı
GenericName[be]=Прайгравальнік музыкі
GenericName[be@latin]=Muzyčny player
GenericName[bg]=Слушане на музика
GenericName[ca]=Reproductor de música
GenericName[cs]=Přehrávač hudby
GenericName[cy]=Chwaraewr Cerddoriaeth
GenericName[da]=Musikafspiller
GenericName[de]=Musik-Wiedergabe
GenericName[dz]=སྙན་ཆ་གཏང་འཕྲུལ་
GenericName[el]=Αναπαραγωγή μουσικής
GenericName[en_CA]=Music Player
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[et]=Muusikamängija
GenericName[eu]=Musika erreproduzitzailea
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[ga]=Seinnteoir Ceoil
GenericName[gl]=Reprodutor de música
GenericName[gu]=સંગીત પ્લેયર
GenericName[he]=נגן המוזיקה
GenericName[hi]=संगीत चालक
GenericName[hr]=Glazbeni program
GenericName[hu]=Zenelejátszó
GenericName[id]=Pemutar Musik
GenericName[is]=Tónlistarspilari
GenericName[it]=Riproduttore musicale
GenericName[ja]=楽曲プレイヤー
GenericName[ko]=음악 연주기
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[mk]=Пуштач на музика
GenericName[mn]=Хөгжмийн тоглуулагч
GenericName[mr]=संगीत वादक
GenericName[ms]=Pemain Muzik
GenericName[nb]=Musikkavspiller
GenericName[ne]=सङ्गीत प्लेयर
GenericName[nl]=Muziekspeler
GenericName[oc]=Legidor de musica
GenericName[or]=ସଂଗୀତ ବାଦକ
GenericName[pa]=ਸੰਗੀਤ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz muzyki
GenericName[ps]=ټنګټکو غږونکی
GenericName[pt]=Reprodutor de Música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ro]=Player muzical
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Prehrávač hudby
GenericName[sr]=Музички програм
GenericName[sr@latin]=Muzički program
GenericName[sv]=Musikspelare
GenericName[ta]=Music Player
GenericName[th]=โปรแกรมเล่นเพลง
GenericName[tr]=Müzik Çalıcı
GenericName[uk]=Програвач
GenericName[vi]=Bộ phát nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_HK]=音樂管理程式
GenericName[zh_TW]=音樂管理程式
Comment=Play and organize your music collection
Comment[af]=Speel en organiseer u musiekversameling
Comment[ar]=شَغّل و نَظّم مجموعتك الموسيقية
Comment[as]=আপোনাৰ সঙ্গীত বজাওক আৰু পৰিচালনা কৰক
Comment[az]=Musiqi kolleksiyanızı tərtib edin və dinləyin
Comment[be]=Прайграе й каталягізуе вашыя музычныя калекцыі
Comment[be@latin]=Vykonvaj i arhanizuj svaju muzyčnuju kalekcyju
Comment[bg]=Слушане и организиране на Вашата музикална колекция
Comment[ca]=Reproduïu i organitzeu la col·lecció de música
Comment[cs]=Přehrávat a organizovat vaši hudební kolekce
Comment[cy]=Chwarae a threfni eich casgliad cerddoriaeth
Comment[da]=Afspil og organisèr din musiksamling
Comment[de]=Ihre Musiksammlung wiedergeben und organisieren
Comment[dz]=གཏང་ཞིནམ་ལས་ཁྱོད་རའི་སྙན་ཆ་བསྡུ་གསོག་འགོ་འདྲེན་འཐབ།
Comment[el]=Παίξτε και οργανώστε τη μουσική σας συλλογή
Comment[en_CA]=Play and organize your music collection
Comment[en_GB]=Play and organise your music collection
Comment[es]=Organice y reproduzca su colección de música
Comment[et]=Esita ja halda oma muusikakollektsiooni
Comment[eu]=Erreproduzitu eta antolatu musika bilduma
Comment[fi]=Soita ja järjestele musiikkikokoelmasi
Comment[fr]=Lire et organiser votre collection musicale
Comment[ga]=Seinn agus eagraigh do bhailiúchán ceoil
Comment[gl]=Reproduce e organiza a súa colección de música
Comment[gu]=તમારા સંગીત સંગ્રહને વ્યવસ્થિત કરો અને વગાડો
Comment[he]=לנגינה וארגון של אוסף מוזיקה
Comment[hr]=Organiziranje i sviranje vaše glazbene zbirke
Comment[hu]=Zenék rendszerezése és lejátszása
Comment[id]=Putar dan atur koleksi musik
Comment[is]=Spila og sjá um tónlistarsafnið þitt
Comment[it]=Riproduce e organizza la collezione musicale
Comment[ja]=お気に入りの楽曲コレクションを再生したり管理します
Comment[ko]=음악 모음을 연주하고 정리합니다
Comment[lt]=Valdykite ir klausykitės savo muzikos kolekcijos
Comment[lv]=Atskaņo un organizē savu mūzikas kolekciju
Comment[mk]=Свири и организирај ја твојата музичка колекција
Comment[mn]=Хөгжмийн цуглуулгаа тоглуулж, зохион байгуул
Comment[mr]=तुमचे संगीत संग्रह चालवा व संयोजीत करा
Comment[ms]=Mian dan pelihara koleksi muzik anda
Comment[nb]=Spill av og organiser din musikksamling
Comment[ne]=तपाईँको सङ्गीत सङ्ग्रह सङ्गठित गर्नुहोस् र प्ले गर्नुहोस्
Comment[nl]=Uw muziekcollectie beluisteren en beheren
Comment[pa]=ਆਪਣੀ ਸੰਗੀਤ ਪਸੰਦ ਚਲਾਉ ਅਤੇ ਸੰਭਾਲੋ
Comment[pl]=Odtwarzanie i organizowanie twojej kolekcji muzycznej
Comment[ps]=خپل ټنګټکور ټولګې غږول او سازول
Comment[pt]=Reproduza e organize a sua colecção de música
Comment[pt_BR]=Reproduz e organiza a sua coleção de músicas
Comment[ro]=Redă şi organizează colecţia dumneavoastră de melodii
Comment[ru]=Программа воспроизведения и управления вашей музыкальной коллекцией
Comment[sk]=Prehrávať a organizovať Vašu zbierku hudby
Comment[sr]=Слушајте и уређујте музичку збирку
Comment[sr@latin]=Slušajte i uređujte muzičku zbirku
Comment[sv]=Spela och organisera din musiksamling
Comment[ta]=உங்கள் இசை தொகுப்பை இசை அல்லது ஒழுங்குப்படுத்து
Comment[th]=เล่นและจัดการกับเพลงของคุณ
Comment[tr]=Müzik koleksiyonunuzu çalın ve yönetin
Comment[uk]=Програвання та упорядкування збірки музичних творів
Comment[vi]=Phát nhạc và tổ chức các tập nhạc của bạn.
Comment[zh_CN]=播放和组织您的音乐收藏
Comment[zh_HK]=播放及管理音樂庫
Comment[zh_TW]=播放及管理音樂庫
Exec=hum-gtk
Terminal=false
Type=Application
Icon=audio-x-generic
Categories=GNOME;GTK;AudioVideo;
MimeType=application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/x-flac;x-content/audio-cdda;x-content/audio-player;
StartupNotify=true
